data/*.csv

venv/
.env/
.venv/

.vscode/
.idea/

logs/
tmp/
.DS_Store

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
oulad_network_exploration.egg-info/


.DS_Store
Thumbs.db

.ipynb_checkpoints/
.notebooks_save/